body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    background-color: hsl(233, 47%, 7%);
}

.card {
    display: flex;
    flex-direction: row;
    margin: 180px auto;
    width: 70%;
    max-width: 900px;
    height: auto;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    
}

.stats-card {
    flex: 1;
    background-color: hsl(244, 38%, 16%);
    padding: 50px;
    box-sizing: border-box;
    
}

.insight {
    color: hsl(277, 64%, 61%);
}

.stats-paragraph {
    color: hsla(0, 0%, 100%, 0.6);
}

.stats-breakdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

.stats-breakdown p {
    margin: 0;
    padding: 0;
}

.stats-numbers {
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 5px;
}

.img-card {
    flex: 1;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }